/** FOR SCREENS <=1024px **/
@media (max-width: 1024px) {
*{
	font-family: 'Open Sans', sans-serif;
	zoom: 100%;
}
.title{
	font-size: 80px;
}
.search{
	font-size: 40px;
	margin: 40px;
}
p{
	font-size: 80px;
	margin: 20px 20px 20px 20px;
}
h2{
	text-decoration: underline;
	font-size: 60px;
	margin: 0px 0px 0px 0px;
}
a{
    text-decoration: none;
    border-bottom: 4px solid #ff2b2b;
}
.open{
	background-color: #02bf02;
	float: right;
	border: none;
	border-radius: 8px;
	margin-top: 10px;
	padding: 20px 54px;
	margin-right: 10px;
	font-size: 32px;
	color: white;
	pointer-events: none;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
}
.closed{
	background-color: #ff2b2b;
	float: right;
	border: none;
	border-radius: 8px;
	margin-top: 10px;
	padding: 20px 30px;
	margin-right: 10px;
	font-size: 32px;
	color: white;
	pointer-events: none;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
}
.tick{
	float: middle;
}
.cross{
	float: middle;
}
.openStation{
	text-decoration: none;
	color: #02a802;
	font-weight: bold;
	border-bottom: none;
}
.openStationBexleyheath{
	text-decoration: none;
	color: #02a802;
	font-weight: bold;
	font-size: 75px;
	border-bottom: none;
}
.closedStation{
	text-decoration: none;
	color: #ff2b2b;
	font-weight: bold;
	border-bottom: none;
}
.closedStationBexleyheath{
	text-decoration: none;
	color: #ff2b2b;
	font-weight: bold;
	font-size: 75px;
	border-bottom: none;
}
p.lastUpdated{
	font-size: 30px;
	text-align: center;
	font-weight: bold;
	margin: 0 0 10px 0;
}
.logo{
	display: block;
	margin-right: auto;
	margin-left: auto;
}
.psa{
	font-size: 40px;
	text-align: center;
	margin-top: 15px;
	margin-bottom: 120px;
	font-weight: bold;
	color: black;
	border: solid 10px #d6d3d3;
	background: #dcd9d9;
	border-radius: 10px;
	padding: 18px;
}
footer{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #cdcccc;
	color: #d2d0d0;
	text-align: center;
	font-size: 16px;
}
.footer{
	font-size: 40px;
	margin: 10px 0 10px 0;
}
.search{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	margin-bottom: 60px;
	height: 50px;
	width: 600px;
	border: 3px solid grey;
	border-radius: 30px;
	text-align: center;
	font-size: 38px;
}
.stationTitleOpen{
	text-align: center;
	color: #02a802;
	font-weight: bold;
	font-size: 75px;
}
.stationTitleClosed{
	text-align: center;
	color: #ff2b2b;
	font-weight: bold;
	font-size: 75px;
}
.stationTitleButtonOpen{
	background-color: #02bf02;
	border: none;
	border-radius: 8px;
	padding: 30px 54px;
	font-size: 40px;
	color: white;
	pointer-events: none;
	display: block;
	margin: auto;
	text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
}
.stationTitleButtonClosed{
	background-color: #ff2b2b;
	border: none;
	border-radius: 8px;
	padding: 30px 54px;
	font-size: 40px;
	color: white;
	pointer-events: none;
	display: block;
	margin: auto;
	text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
}
span{
	font-size: 50px;
	margin-bottom: 30px;
	display: block;
	text-align: center;
	font-weight: bold;
	border-radius: 50px;
	background-color: white;
	padding-right: 20px;
    	padding-left: 20px;
}
.time{
	padding-top: 10px;
	font-size: 45px;
	font-weight: normal;
}
.voteOpen{
	background-color: #02bf02;
	border: none;
	border-radius: 8px;
	padding: 30px 54px;
	font-size: 40px;
	color: white;
	margin-right: 40px;
	text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
}
.voteOpen:hover{
  background-color: #87ed87;
}
.voteClosed{
	background-color: #ff2b2b;
	border: none;
	border-radius: 8px;
	padding: 30px 54px;
	font-size: 40px;
	color: white;
	margin-left: 40px;
	margin-bottom: 15px;
	text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
}
.voteClosed:hover{
	background-color: #ffb0b0;
}
.votingButtons{
	display: block;
	margin: auto;
	text-align: center;
	margin-top: 40px;
	background-color: white;
}
.inspectorButton{
	display: block;
	margin: auto;
	text-align: center;
	margin-top: 40px;
	background-color: white;
}
.whiteInspector{
	background-color: #dcd9d9;
	border: none;
	border-radius: 8px;
	padding: 10px 80px;
	font-size: 90px;
	color: white;
	margin-left: 40px;
	margin-bottom: 25px;
	text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
}
.whiteInspector:hover{
  background-color: #f3f1f1;
}
iframe{
	display: block;
	margin: auto;
	margin-bottom: 25px;
}
.redInspector{
	background-color: #ff2b2b;
	border: none;
	border-radius: 50px;
	padding: 10px 80px;
	font-size: 90px;
	color: white;
	margin-left: 40px;
	margin-bottom: 25px;
}
.yesCounter{
	display: inline-grid;
	padding-left: 330px;
	margin-bottom: 0px;
	color: #02bf02;
}
.noCounter{
	display: inline-grid;
	padding-left: 240px;
	margin-bottom: 0px;
	color: #ff2b2b;
}
.progressbar{
	background-color: #ff2b2b;
	border-radius: 30px;
	border-color: black;
	margin-left: 80px;
	margin-right: 80px;
}
.progressbar>div{
	background-color: #02bf02;
	height: 30px;
	border-radius: 30px;
}
.inspectorTitle{
	/*margin: 50px 0px;*/
	font-size: 50px;
	margin-bottom: 30px;
	display: block;
	text-align: center;
	font-weight: bold;
}
.section{
	border: solid 0px #000;
	background: #fff;
	border-radius: 14px;
	margin-right: 80px;
	margin-left: 80px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.indexSection{
	border: solid 0px #000;
	background: #fff;
	border-radius: 14px;
	margin-right: 40px;
	margin-left: 40px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	padding-top: 2px;
	padding-bottom: 2px;
}
.status{
	margin-right: 40px;
	margin-left: 40px;
	padding-bottom: 50px;
	line-height: 180%;
	margin-top: 15px;
}
.navbar{
	text-align: center;
	background-color: #fff;
	padding-bottom: 30px;
	padding-top: 30px;
}
.navbar a{
	text-decoration: none;
	font-weight: bold;
	color: #000;
	font-size: 45px;
	padding-left: 10px;
	margin-left: 39px;
	padding-right: 10px;
	margin-right: 39px;
	padding-bottom: 10px;
	padding-top: 10px;
	background-color: #fff;
	border-bottom: 4px solid #ff2b2b;
}
.navbar a:hover{
	border-bottom: 4px solid #ffb0b0;	
}
hr{
	margin: 0px 40px 0px 40px;
}
.help{
	font-size: 50px;
	margin: 0px 60px 0px 60px;
}
.helpAnchor{
	color: #000;
  font-size: 55px;
}
.helpAnchor:hover{
	border-bottom: 4px solid #ffb0b0;
}
.feedbackButton{
	background-color: #0018a7;
	float: middle;
	border: none;
	border-radius: 8px;
	padding: 20px 30px;
	font-size: 55px;
	color: white;
	text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
}
.feedbackBox{
	width: 70%;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 14px;
	font-size: 59px;
	background-color: white;
	background-position: 10px 10px;
	background-repeat: no-repeat;
	padding: 40px 40px 40px 40px;
	-webkit-transition: width 0.4s ease-in-out;
	transition: width 0.4s ease-in-out;
}
.feedbackBox:focus{
	width: 95%;
}
form{
	text-align: center;
}
.feedbackSection{
  border: solid 0px #000;
  background: #fff;
  border-radius: 14px;
  margin-right: 80px;
  margin-left: 80px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 40px 40px 40px 40px;
	font-size: 50px;
}
i{
	font-size: 20px;}
}

/** FOR SCREENS >=1025px **/
@media (min-width: 1025px){
*{
	font-family: 'Open Sans', sans-serif;
	zoom: 85%;
}
.title{
	font-size: 80px;
}
.search{
	font-size: 40px;
	margin: 40px;
}
p{
	font-size: 80px;
	margin: 20px 20px 20px 20px;
}
h2{
	text-decoration: underline;
	font-size: 60px;
	margin: 0px 0px 0px 0px;
}
a{
	text-decoration: none;
	border-bottom: 4px solid #ff2b2b;
	color: #fff;
}
.open{
	background-color: #02bf02;
	float: right;
	border: none;
	border-radius: 8px;
	margin-top: 20px;
	padding: 20px 54px;
	margin-right: 43px;
	font-size: 32px;
	color: white;
	pointer-events: none;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
}
.closed{
	background-color: #ff2b2b;
	float: right;
	border: none;
	border-radius: 8px;
	margin-top: 20px;
	padding: 20px 30px;
	margin-right: 43px;
	font-size: 32px;
	color: white;
	pointer-events: none;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
}
.tick{
	float: middle;
}
.cross{
	float: middle;
}
.openStation{
	text-decoration: none;
	color: #02a802;
	padding-left: 20px;
	font-weight: bold;
	border-bottom: none;
}
.openStationBexleyheath{
	text-decoration: none;
	color: #02a802;
	padding-left: 20px;
	font-weight: bold;
	border-bottom: none;
}
.closedStation{
	text-decoration: none;
	padding-left: 20px;
	color: #ff2b2b;
	font-weight: bold;
	border-bottom: none;
}
.closedStationBexleyheath{
	text-decoration: none;
	padding-left: 20px;
	color: #ff2b2b;
	font-weight: bold;
	border-bottom: none;
}
p.lastUpdated{
	font-size: 30px;
	text-align: center;
	font-weight: bold;
	margin: 0 0 10px 0;
}
.logo{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.psa{
	font-size: 40px;
	text-align: center;
	margin-top: 15px;
	margin-bottom: 120px;
	font-weight: bold;
	color: black;
	border: solid 10px #d6d3d3;
	background: #dcd9d9;
	border-radius: 10px;
	padding: 18px;
}
footer{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #cdcccc;
	color: #d2d0d0;
	text-align: center;
	font-size: 16px;
}
.footer{
	font-size: 40px;
	margin: 10px 0 10px 0;
}
.search{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	margin-bottom: 60px;
	height: 50px;
	width: 600px;
	border: 3px solid grey;
	border-radius: 30px;
	text-align: center;
	font-size: 38px;
}
.stationTitleOpen{
	text-align: center;
	color: #02a802;
	font-weight: bold;
	font-size: 75px;
}
.stationTitleClosed{
	text-align: center;
	color: #ff2b2b;
	font-weight: bold;
	font-size: 75px;
}
.stationTitleButtonOpen{
	background-color: #02bf02;
	border: none;
	border-radius: 8px;
	padding: 30px 54px;
	font-size: 40px;
	color: white;
	pointer-events: none;
	display: block;
	margin: auto;
	text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
}
.stationTitleButtonClosed{
	background-color: #ff2b2b;
	border: none;
	border-radius: 8px;
	padding: 30px 54px;
	font-size: 40px;
	color: white;
	pointer-events: none;
	display: block;
	margin: auto;
	text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
}
span{
	font-size: 50px;
	margin-bottom: 30px;
	display: block;
	text-align: center;
	font-weight: bold;
	border-radius: 50px;
	background-color: white;
	padding-right: 20px;
	padding-left: 20px;
}
.time{
	padding-top: 10px;
	font-size: 45px;
	font-weight: normal;
}
.voteOpen{
	background-color: #02bf02;
	border: none;
	border-radius: 8px;
	padding: 30px 54px;
	font-size: 40px;
	color: white;
	margin-right: 40px;
	text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
}
.voteOpen:hover{
  background-color: #87ed87;
}
.voteClosed{
	background-color: #ff2b2b;
	border: none;
	border-radius: 8px;
	padding: 30px 54px;
	font-size: 40px;
	color: white;
	margin-left: 40px;
	margin-bottom: 15px;
	text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
}
.voteClosed:hover{
  background-color: #ffb0b0;
}
.votingButtons{
	display: block;
	margin: auto;
	text-align: center;
	margin-top: 40px;
	background-color: white;
}
.inspectorButton{
	display: block;
	margin: auto;
	text-align: center;
	margin-top: 40px;
	background-color: white;
}
.whiteInspector{
	background-color: #dcd9d9;
	border: none;
	border-radius: 8px;
	padding: 10px 80px;
	font-size: 90px;
	color: white;
	margin-left: 40px;
	margin-bottom: 25px;
	text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
}
.whiteInspector:hover{
	background-color: #f3f1f1;
}
iframe{
	display: block;
	margin: auto;
	margin-bottom: 25px;
}
.redInspector{
	background-color: #ff2b2b;
	border: none;
	border-radius: 50px;
	padding: 10px 80px;
	font-size: 90px;
	color: white;
	margin-left: 40px;
	margin-bottom: 25px;
}
.yesCounter{
	display: inline-grid;
	padding-left: 330px;
	margin-bottom: 0px;
	color: #02bf02;
}
.noCounter{
	display: inline-grid;
	padding-left: 240px;
	margin-bottom: 0px;
	color: #ff2b2b;
}
.progressbar{
	background-color: #ff2b2b;
	border-radius: 30px;
	border-color: black;
	margin-left: 80px;
	margin-right: 80px;
}
.progressbar>div{
	background-color: #02bf02;
	height: 30px;
	border-radius: 30px;
}
.inspectorTitle{
	/*margin: 50px 0px;*/
	font-size: 50px;
	margin-bottom: 30px;
	display: block;
	text-align: center;
	font-weight: bold;
}
.section{
	border: solid 0px #000;
	background: #fff;
	border-radius: 14px;
	margin-right: 280px;
	margin-left: 280px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.indexSection{
	border: solid 0px #000;
	background: #fff;
	border-radius: 14px;
	margin-right: 280px;
	margin-left: 280px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	padding-top: 2px;
	padding-bottom: 2px;
}
.status{
	margin-right: 40px;
	margin-left: 40px;
	padding-bottom: 50px;
	margin-top: 15px;
	line-height: 180%;
}
.navbar{
	text-align: center;
	background-color: #fff;
	padding-bottom: 30px;
	padding-top: 30px;
}
.navbar a{
  text-decoration: none;
  font-weight: bold;
  color: #000;
  font-size: 45px;
  padding-left: 5px;
  margin-left: 15px;
  padding-right: 5px;
  margin-right: 15px;
  padding-bottom: 10px;
  padding-top: 10px;
  background-color: #fff;
  border-bottom: 4px solid #ff2b2b;
}
.navbar a:hover{
  border-bottom: 4px solid #ffb0b0; 
}
hr{
	margin: 0px 40px 0px 40px;
}
.help{
	font-size: 50px;
	margin: 0px 60px 0px 60px;
}
.helpAnchor{
	color: #000;
	font-size: 55px;
}
.helpAnchor:hover{
	border-bottom: 4px solid #ffb0b0;
}
.feedbackButton{
	background-color: #0018a7;
	float: middle;
	border: none;
	border-radius: 8px;
	padding: 20px 30px;
	font-size: 55px;
	color: white;
	text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
}
.feedbackBox{
	width: 70%;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 14px;
	font-size: 59px;
	background-color: white;
	background-position: 10px 10px;
	background-repeat: no-repeat;
	padding: 40px 40px 40px 40px;
	-webkit-transition: width 0.4s ease-in-out;
	transition: width 0.4s ease-in-out;
}
.feedbackBox:focus{
	width: 95%;
}
form{
	text-align: center;
}
.feedbackSection{
  border: solid 0px #000;
  background: #fff;
  border-radius: 14px;
  margin-right: 280px;
  margin-left: 280px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 40px 40px 40px 40px;
	font-size: 50px;
}
i{
	font-size: 35px;
}
